<% provide(:title, "About") %>
<h1>About</h1>
<p>
  Hi! I like dogs! Me gustan los gatos! Haga clic <a href="http://www.youtube.com/watch?v=q6EoRBvdVPQ">aquí</a> para ver más!
  O iklik ninyo <a href="http://cdeluna95.github.io/">dito</a> para makita ninyo ang pahina ng aking personal na websayt!
</p>
